/* HABILIDADES */
.habilidades {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.titulo-habilidade{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.informacoes p{
    color: #fff;
}
.svg_habilidades {
    height: 100px;
    width: 100px;
}
.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
}

.habilidades .container-habilidades .informacoes{
    max-width: 390px;
    padding: 40px 30px;    
}

.habilidades .container-habilidades .informacoes p,
.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-primaria);      
}
.habilidades .container-habilidades .informacoes p {
    font-size: 1.2rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
@media (max-width: 1196px){
    .habilidades{
        height: 810px;
    }
    .habilidades .container-habilidades .informacoes p {
        font-size: 1.0rem;
        color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 18px;
        color: var(--cor-primaria);      
    }
    .habilidades .container-habilidades .informacoes{
        max-width: 380px;
        padding: 20px 20px;    
    }
}
@media (max-width: 1149px){
    .svg_habilidades {
        height: 90px;
        width: 90px;
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 40px;
        margin-bottom: 15px;   
    }
}
@media (max-width: 1140px){
    .habilidades .container-habilidades .informacoes{
        max-width: 350px;
        padding: 20px 20px;    
    }
}
@media (max-width: 1050px) {
    .habilidades .container-habilidades .informacoes{
        max-width: 330px;
        padding: 20px 20px;    
    }
}
@media (max-width: 990px){
    .habilidades .container-habilidades .informacoes{
        max-width: 300px;
        padding: 20px 20px;    
    }
}
@media (max-width: 990px) {
    .svg_habilidades {
        height: 80px;
        width: 80px;
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 35px;
        margin-bottom: 13px;   
    }
    .habilidades .container-habilidades .informacoes{
        max-width: 290px;
        padding: 20px 20px;    
    }
}
@media (max-width: 750px){
    .svg_habilidades {
        height: 60px;
        width: 60px;
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 30px;
        margin-bottom: 10px;   
    }
    .habilidades .container-habilidades .informacoes{
        max-width: 260px;
        padding: 5px 5px;    
    }
    .habilidades{
        height: 800px;   
    }
    .habilidades .container-habilidades .informacoes p {
        font-size: 15px;
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 30px;
        margin-bottom: 10px;   
    }
    .habilidades .container-habilidades {
        height: 600px;
    }
}
@media (max-width: 520px){
    .svg_habilidades {
        height: 50px;
        width: 50px;
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 27px;
        margin-bottom: 8px;   
    }
    .habilidades .container-habilidades .informacoes{
        max-width: 240px;
        padding: 1px 1px;    
    }
    .habilidades{
        height: 700px;   
    }
    .habilidades .container-habilidades .informacoes p {
        font-size: 14px;
    }
    .habilidades .container-habilidades {
        height: 500px;
    }
}
@media (max-width: 520px){
    .svg_habilidades {
        height: 50px;
        width: 50px;
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 25px;
        margin-bottom: 8px;   
    }
    .habilidades .container-habilidades .informacoes{
        max-width: 200px;
        padding: 1px 1px;    
    }
    .habilidades{
        height: 650px;   
    }
    .habilidades .container-habilidades .informacoes p {
        font-size: 13px;
    }
    .habilidades .container-habilidades {
        height: 400px;
    }
} 
@media (max-width: 399px){
    .svg_habilidades {
        height: 50px;
        width: 50px;
    }
    .habilidades .container-habilidades .informacoes h3 {
        font-size: 25px;
        margin-bottom: 8px;   
    }
    .habilidades .container-habilidades .informacoes{
        max-width: 200px;
        padding: 1px 1px;    
    }
    .habilidades .container-habilidades .informacoes p {
        font-size: 13px;
    }
    .habilidades {
        height: 600px;
    }

}
